@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MODULO DE GESTION DEL DOCENTE</h1>
    <p class="lead">Modulo de certificación y firma digital para documentos de gestion de notas.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Clic aquí para mas información&raquo;</a></p>
</div>

